<form class="mt-3">
  <div class="mb-3">
    <label for="studentName" class="form-label">Nama Pelajar</label>
    <input type="text" class="form-control" id="studentName" placeholder="Masukkan nama penuh">
  </div>

  <div class="mb-3">
    <label for="studentId" class="form-label">ID Pelajar</label>
    <input type="text" class="form-control" id="studentId" placeholder="Masukkan ID">
  </div>

  <div class="mb-3">
    <label for="studentClass" class="form-label">Kelas</label>
    <select class="form-select" id="studentClass">
      <option selected disabled>Pilih kelas</option>
      <option value="1A">1A</option>
      <option value="1B">1B</option>
      <option value="2A">2A</option>
      <option value="2B">2B</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="studentEmail" class="form-label">Emel</label>
    <input type="email" class="form-control" id="studentEmail" placeholder="contoh@email.com">
  </div>

  <button type="submit" class="btn btn-primary">Hantar</button>
</form>
