<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" data-target="home.html">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Jata_MalaysiaV2.svg/2558px-Jata_MalaysiaV2.svg.png" alt="" width="30" height="24">
      KDMS
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbarNavLinks">
        <li class="nav-item">
          <a class="nav-link active" href="#" data-target="home.html" data-slug="home">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-target="data_pelajar.html" data-slug="data_pelajar">Data Maklumat Pelajar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-target="carian_pelajar.html" data-slug="carian_pelajar">Carian Pelajar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-target="sijil.html" data-slug="sijil">Penjanaan Sijil Kokurikulum</a>
        </li>
      </ul>

      <button type="button" class="d-flex btn btn-outline-dark" onclick="location.href='index.html'">Log Keluar</button>
    </div>
  </div>
</nav>
